<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        
        <menuitem id="menu_custom_financial_report"
                name="Day-End Statement"
                parent="account.account_reports_legal_statements_menu"
                action="action_report_parameters"
                sequence="40"
                groups="base.group_user"/>
    </data>
</odoo>
